Options -Indexes
RewriteEngine On
# Header append X-FRAME-OPTIONS "SAMEORIGIN"
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

<FilesMatch "\.(doc|docx|xlxs|txt|pdf|rtf)$">
  ForceType application/octet-stream
  Header set Content-Disposition attachment
</FilesMatch>

 RewriteEngine on
 RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost [NC]
 RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost.*$ [NC]
 RewriteRule \.(doc|docx|xlxs|txt|pdf|rtf|js|css)$ - [F]
 ErrorDocument 404 http://localhost/AuditSoft/error
 ErrorDocument 403 http://localhost/AuditSoft/error
 ErrorDocument 500 http://localhost/AuditSoft/error

# RewriteEngine on
# RewriteCond %{HTTP_REFERER} !^http://(www\.)?auditorsdesk [NC]
# RewriteCond %{HTTP_REFERER} !^http://(www\.)?auditorsdesk.*$ [NC]
# RewriteRule \.(doc|docx|xlxs|txt|pdf|rtf|js|css)$ - [F]
# ErrorDocument 404 http://auditorsdesk.com/error
# ErrorDocument 403 http://auditorsdesk.com/error
# ErrorDocument 500 http://auditorsdesk.com/error

# RewriteEngine on
# RewriteCond %{HTTP_REFERER} !^http://(www\.)?atlats [NC]
# RewriteCond %{HTTP_REFERER} !^http://(www\.)?atlats.*$ [NC]
# RewriteRule \.(doc|docx|xlxs|txt|pdf|rtf|js|css)$ - [F]
# ErrorDocument 404 http://atlats.in/audit/error
# ErrorDocument 403 http://atlats.in/audit/error
# ErrorDocument 500 http://atlats.in/audit/errorx

AddCharset UTF-8 .php
<Files "dbconnection.php">  
  Require all denied
</Files>

# Protect the htaccess file
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

# X-XSS-Protection
# Extra Security Headers
# X-Frame-Options
# X-Content-Type nosniff
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
	Header always append X-Frame-Options SAMEORIGIN
	Header set X-Content-Type-Options nosniff
</IfModule>
